<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.guest.askSJSU">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- To perform network requests to the external server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".InitialLoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:parentActivityName=".InitialLoginActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="InitialLoginActivity" />
        </activity>
        <activity
            android:name=".QuestionCreationActivity"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomePageActivity" />
        </activity>
        <activity
            android:name=".VoteActivity"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="HomePageActivity" />
        </activity>
        <activity
            android:name=".HomePageActivity"
            android:label="@string/title_activity_home_page_nav_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".PostHistoryActivity"
            android:parentActivityName=".HomePageActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".HomePageActivity" />
        </activity>
    </application>

</manifest>